<div class="row menu">
	<div class="col-md-12">
		<span class="logo-menu col-md-4">SCS Algorithm Time</span>

		<div class="text-right col-md-8">
			<a href="<%=__base_url%>">Home</a> |
			<a href="<%=__base_url%>/admin">Admin</a> |
			<a href="<%=__base_url%>/admin/user/all">Users</a> |
			<a href="<%=__base_url%>/scoreboard">Scoreboard</a> |
			<a href="<%=__base_url%>/user/logout">Logout</a> |
			<a style="color: green; " href="<%=__base_url%>admin/export">Export CSV</a>
		</div>
	</div>
</div>