<div class="col-md-offset-4 col-md-4">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Nickname</th>
				<th>Full name</th>
				<th>Email</th>
				<th>Score</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% if(users == null) { %>
				<tr>
					<td colspan="5">
						Error loading this page
					</td>
				</tr>
			<% } else { %>
				<% i=1; %>
				<% users.forEach(function(user) { %>
					<tr>
						<td><%= i++ %></td>
						<td><%= user.nickname %></td>
						<td><%= user.fullname %></td>
						<td><%= user.email %></td>
						<td>123</td>
						<td><a href="<%=base_url%>/admin/user/delete/<%=encodeURIComponent(user.nickname)%>">Delete</a></td>
					</tr>
				<% }); %>			
			<% } %>			
		</tbody>
	</table>
</div>